.InfoBox{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.InfoBox h1{
    color: white;
    margin-bottom: 20px;
}
